{% extends "base.html" %}
{% block content %}

<div class="row wow fadeIn animated" style="visibility: visible; animation-name: fadeIn;">

	<!--Card-->
	<div class="card">
		<div class="card-header">
			Hapus Barang
		</div>
		<!--Card content-->
		<div class="card-body">
			<form method="post">{% csrf_token %}
				<p>Are you sure you want to delete "{{ object }}"?</p>
				<input type="submit" value="Confirm">
			</form>
		</div>

	</div>
	<!--/.Card-->

</div>
<!--Grid row-->

{% endblock content %}