{% extends "base.html" %}
{% load humanize %}
{% block content %}


<div class="card-header">
	Barang <a href="{% url 'core:create_item' %}" class="badge badge-success">Tambah</a>
</div>
<!--Card content-->
<div class="card-body">
	<!-- Table  -->
	<table class="table table-hover">
		<!-- Table head -->
		<thead class="blue lighten-4">
			<tr>
				<th>id</th>
				<th>Nama</th>
				<th>Harga</th>
				<th>Ditambahkan</th>
			</tr>
		</thead>
		<!-- Table head -->

		<!-- Table body -->
		<tbody>
			{% for object in object_list %}
			<tr>
				<th scope="row">{{ object.pk }}</th>
				<td>{{ object.name }} <a href="{{ object.get_absolute_url }}" class="badge badge-primary">Edit</a> <a href="{{ object.get_delete_url }}" class="badge badge-danger">Hapus</a></td></td>
				<td>Rp {{ object.price|intcomma }}</td>
				<td>{{ object.created|naturaltime }}</td>
			</tr>
			{% endfor %}
		</tbody>
		<!-- Table body -->
	</table>
	<!-- Table  -->

</div>


{% endblock content %}