{% extends "base.html" %}
{% block content %}

<!--Grid row-->
<div class="row wow fadeIn animated" style="visibility: visible; animation-name: fadeIn;">

	<!--Card-->
	<div class="card mt-2 ml-5">
		<div class="card-header">
			{{ object.name }} <a href="{{ object.get_delete_url }}" class="badge badge-danger">Hapus</a>
		</div>
		<!--Card content-->
		<div class="card-body">
            <form method="post">{% csrf_token %}
                {{ form.as_p }}
                <input type="submit" class="btn btn-primary" value="Update">
            </form>
		</div>
		<div class="card-footer">
            <h6>Terakhir dirubah : {{ object.timestamp }}</h6>
		</div>

	</div>
	<!--/.Card-->

</div>
<!--Grid row-->

{% endblock content %}
