{% extends "base.html" %}
{% load humanize %}
{% block content %}


<!--Card-->
<div class="card mt-2 ml-5">
	<div class="card-header">
		{{ object.name }} <a href="{{ object.get_delete_url }}" class="badge badge-danger">Hapus</a>
	</div>
	<!--Card content-->
	<div class="card-body">
		<h4>Saldo : Rp {{ object.balance|intcomma }}</h4>
		<form method="post">{% csrf_token %}
			{{ form.as_p }}
			<input type="submit" class="btn btn-primary" value="Update">
		</form>
	</div>
	<div class="card-footer">
		<h6>Terakhir dilihat : {{ object.timestamp|naturaltime }}</h6>
		<h6>Dibuat : {{ object.created|naturaltime }}</h6>
	</div>

</div>
<!--/.Card-->


{% endblock content %}
