{% extends "base.html" %}
{% load humanize %}
{% block content %}

{% if nasabah_list %}


<div class="card-header">
	Nasabah <a href="{% url 'core:create_user' %}" class="badge badge-success">Tambah</a>
</div>
<!--Card content-->
<div class="card-body">
	<!-- Table  -->
	<table class="table table-hover">
		<!-- Table head -->
		<thead class="blue lighten-4">
			<tr>
				<th>Nama</th>
				<th>Saldo</th>
				<th>Transaksi</th>
				<th>Alamat</th>
			</tr>
		</thead>
		<!-- Table head -->

		<!-- Table body -->
		<tbody>
			{% for object in nasabah_list %}
			<tr>
				<td>{{ object.name }} <a href="{{ object.get_absolute_url }}" class="badge badge-primary">Edit</a></td>
				<td>Rp {{ object.balance|intcomma }}</td>
				<td><a href="{{ object.get_order_url }}" class="badge badge-success">Tambah</a> <a href="{{ object.get_withdraw_url }}" class="badge badge-danger">Kurang</a></td>
				<td>{{ object.addres }}</td>
			</tr>
			{% endfor %}
		</tbody>
		<!-- Table body -->
	</table>
	<!-- Table  -->

</div>

{% endif %}


{% if orders %}


<div class="card-header">
	Order
</div>
<!--Card content-->
<div class="card-body">

	<!-- Table  -->
	<table class="table table-hover">
		<!-- Table head -->
		<thead class="blue lighten-4">
			<tr>
				<th>Nama</th>
				<th>Barang</th>
				<th>Harga</th>
				<th>Berat</th>
				<th>Total</th>
			</tr>
		</thead>
		<!-- Table head -->

		<!-- Table body -->
		<tbody>
			{% for order in orders %}
			{% if order.items.all %}
			{% for orderitem in order.items.all %}
			<tr>
				<td>{{ orderitem.nasabah }}</td>
				<td>{{ orderitem.item.name }}</td>
				<td>Rp {{ orderitem.item.price|intcomma }}</td>
				<td>{{ orderitem.value }} kg</td>
				<td>Rp {{ orderitem.sum|intcomma }}</td>
			</tr>
			{% endfor %}
			{% if order.ordered %}
			<tr class="table-success">
				<th>{{ order.nasabah }}</th>
				<th>Selesai</th>
			{% else %}
			<tr class="table-danger">
				<th>{{ order.nasabah }}</th>
				<th>
				<a href="{{ order.get_absolute_url }}" class="badge badge-primary">Edit</a>
				</th>
			{% endif %}
				<th></th>
				<th>{{ order.get_values|intcomma }} kg</th>
				<th>Rp {{ order.get_sum|intcomma }}</th>
			</tr>
			{% endif %}
			{% endfor %}
		</tbody>
		<!-- Table body -->
	</table>
	<!-- Table  -->

</div>
{% endif %}

{% endblock content %}
