{% extends "base.html" %}
{% load humanize tz %}
{% block content %}


<div class="card-header mt-2 ml-2">
	{{ object.name }} <a href="{{ object.get_delete_url }}" class="btn btn-danger btn-sm">Hapus</a>
</div>
<!--Card content-->
<div class="card-body mt-2 ml-2">
	<h5>Saldo : Rp {{ object.balance|intcomma }}</h5>
	<form method="post">{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" class="btn btn-primary btn-sm" value="Simpan">
	</form>
</div>
<div class="card-footer mt-2 ml-2">
	<h6>Dibuat oleh : {{ object.user }}</h6>
	<h6>Dirubah : {{ object.timestamp|timezone:user.profile.timezone }}  ({{ object.timestamp|naturaltime }})</h6>
	<h6>Dibuat : {{ object.created|timezone:user.profile.timezone }}  ({{ object.created|naturaltime }})</h6>
</div>

{% endblock content %}
