{% load humanize tz %}

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#model{{ object.pk }}">
  Detail
</button>

<!-- Modal -->
<div class="modal fade" id="model{{ object.pk }}" tabindex="-1" role="dialog" aria-labelledby="modal{{ object.pk }}" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
	<h5 class="modal-title" id="exampleModalLabel">{{ object }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
	      Nama : {{ object }}
	      <br>
	      Saldo : Rp {{ object.balance|intcomma }}
	      <br>
	      Alamat : {{ object.addres }}
      </div>
      <div class="modal-footer">
	<div class="btn-group">
		<a href="{{ object.get_absolute_url }}" class="btn btn-primary">Edit</a>
		<a href="{{ object.get_delete_url }}" class="btn btn-danger">Hapus</a>
        	<button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
	</div>
      </div>
    </div>
  </div>
</div>
