<div class="content-wrapper" style="min-height: 554px;">
					<section class="content-header">
							<!--<h1>
								Dashboard
								<small>Version 2.0</small>
							</h1>-->
							<ol class="breadcrumb">
								<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
								<li class="active">Dashboard</li>
							</ol>
						</section>
						<section class="content">
							<form name="add_tabung">
	<div class="form-group">
		<label> Nasabah</label>
		<select class="form-control" name="nasabah">
<option value="307">Syuaib (B25-196)</option>
</select>
	</div>
	<div class="form-group">
		<label>Jenis Sampah</label>
		<select class="form-control" name="sampah">
<option value="1">1. Kardus(3200)</option>
<option value="2">2. Kertas(3000)</option>
<option value="3">3. Besi A(3000)</option>
<option value="4">4. Besi B(3000)</option>
<option value="5">5. Atom Hitam(3000)</option>
<option value="6">6. Atom Campuran(3000)</option>
<option value="7">7. Kaleng(3000)</option>
<option value="8">8. Alumunium(3000)</option>
<option value="9">9. Duplek(Kertas Warna, Dus Makanan, dll)(3000)</option>
<option value="10">10. Gelas Aqua/Botol Plastik(2000)</option>
<option value="11">11. Plastik Putih(2000)</option>
<option value="12">12. Plastik Warna(2000)</option>
<option value="13">13. Bodong(2000)</option>
<option value="14">14. Sak Semen(2000)</option>
<option value="15">15. Beling Putih(2000)</option>
<option value="16">16. Beling Warna(2000)</option>
<option value="17">17. Botol Polos(2000)</option>
<option value="18">18. Botol Aqua Besar(2000)</option>
<option value="19">19. Botol Bir(2000)</option>
<option value="20">20. Koran(2000)</option>
<option value="21">21. Botol Marjan(2000)</option>
<option value="22">22. Sepatu Bekas(2000)</option>
<option value="23">23. Tembaga(2000)</option>
<option value="24">24. Galon(2000)</option>
<option value="25">25. Seng(2000)</option>
<option value="26">26. Kuningan(2000)</option>
<option value="27">27. Botol Fanta/Sprite(2000)</option>
<option value="28">28. Botol Teh(2000)</option>
<option value="29">29. Keping CD(2000)</option>
<option value="30">30. Botol Anggur Orang Tua(1000)</option>
<option value="31">31. Karpet(1000)</option>
</select>
	</div>
	<div class="form-group">
		<label>Berat/Jumlah</label>
		<input type="number" name="jumlah" value="" class="form-control" step="0.1">
	</div>
	<div class="form-group">
		<button type="submit" class="btn btn-primary btn-block">Tambah Sampah</button>
	</div>
</form>


<table id="cart" class="table table-striped">
	<thead>
		<tr>
			<th>Nasabah</th>
			<th>Jenis Sampah</th>
			<th>Berat</th>
			<th>Harga</th>
			<th>Sub Total</th>
			<th>Aksi</th>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>

<button id="save_cart" class="btn btn-info btn-block">Simpan Data</button>						</section>
			</div>